/* reset css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}
a {
  color: #495260;
  text-decoration: none;
  display: inline-block;
}
a:hover {
  color: #871f23;
  text-decoration: none;
  cursor: pointer;
  font-weight: bold;
}

p {
  line-height: 2;
}

h3 {
  font-size: 36px;
}

h5 {
  font-size: 22px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  font-size: 22px;
}

.section-padding {
  padding: 120px 0;
}

.full-width {
  width: 100%;
}

/* add color palette class below */
body {
  font-family: "Playfair Display", serif;
  font-family: "Raleway", sans-serif;
  font-size: 15px; /* what does this mean */
  /* add color below*/
  line-height: 1.5;
  background-color: #efd1bc;
}

.head-title {
  font-size: 110px;
  color: white;
}

#page_body {
  padding-top: 60px;
}

#main_image {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 0;
}

#right_col {
  padding-left: 200px;
}

#footer {
  padding-bottom: 10px;
  padding-left: 200px;
}

#nickname {
  position: absolute;
  bottom: 40px;
  font-size: 30px;
}

#nickname-text {
  font-size: 30px;
}

#play-text {
  font-size: 20px;
  color: #871f23;
  text-decoration: underline;
}

#about-head {
  text-align: center;
}

/* a.navbar-brand {
  color: #495260;
  text-decoration: none;
  font-family: "Raleway", sans-serif;
}

a.navbar-brand:hover {
  color: #495260;
  text-decoration: none;
  font-weight: bold;
  font-family: "Raleway", sans-serif;
} */

.nav-link {
  font-size: 30px;
  margin: 5px;
  color: #495260;
}

/* .nav-link:hover {
  font-weight: bold;
} */
